@use "../base/color";

.modal-action-wrap {

}

.modal-action {
  width: 58.4rem;
  height: 74rem;
  background-color: white;
  padding: 2.6rem;
  box-shadow: 0 0 .3rem rgba(82, 63, 105, 0.05);
  border: .1rem solid color.$border;

  &-title {
    width: 48rem;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: bold;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;

    &-create {
      justify-content: center;
    }
  }
}
