@use "../base/color";

.notification-modal-content {
  font-family: 'Halvetica', sans-serif;
  padding: 2.6rem 2.2rem;
  background-color: color.$green;
  box-shadow: 0 1rem 1.5rem color.$green-light;
  border-radius: .6rem;
  width: 28.1rem;
  z-index: 1001;
  position: relative;

  &-error {
    background-color: color.$red;
    box-shadow: 0 1rem 1.5rem color.$red-light;
  }

  &__text {
    color: color.$white;
  }
}

.notification-modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 3rem;
}
