$blue: #2E8FF0;
$blue-light: #2E8FF029;
$black: #3F4254;
$grey: #A4A4B5;
$red: #EF7DA0;
$red-light: #EF7DA05C;
$green: #66BB6A;
$green-light: #4CAF505C;
$white: #FFFFFF;
$bg-color: #EEF0F8;
$shadow: #523F690D;
$field-hover-color: #EFF0F4;
$field-color: #F4F5F8;
$bg-input-color: #F3F6F9;
$bg-color-rgba: rgba(238, 240, 248, .5);
$border: #EBEDF3;
